@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html {
	font-family: 'open_sansregular';
}

@media screen and (min-width:500px) {
	body {
		background: #FFFFFF;
		background-repeat: no-repeat;
		margin: 0;
		max-width: 300em;
	}

.Name{
  /*BAR*/
  top: 0;
  left: 0;
  background-color: #008B8B;
  /*text*/

  color: #2F4F4F;
  font-size: 2vw;
  text-align: center;
  font-weight: none;
  padding: 3.5vw;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.Backround{
width: auto;
height: 30vw;
opacity: 0.5;
overflow: hidden;
min-height: 150px;
}
.Backround img {
  padding-top: 0px;
  transform: translate(0%, 0%);
  max-width: 100%;
  max-height: 100%;
}
#AboutHead {
  font-family: 'open_sansregular';
  background-color: #D3D3D3;
  color: black;
  font-size: 2vw;
  text-align: center;
  font-weight: none;
  padding: 3.5vw 0em 3.5vw 0em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

#AboutHead:hover {
  filter: brightness(100%);
  transition: ease 0.3s;
}
.About {
  /* Box properties */
  padding: 0em 5vw 3vw 5vw /* top right bottom left */ ;
  background-color: #D3D3D3;

  /* Text properties */
  color: black;
  font-size: 2.1vw;
  font-family: 'open_sanslight';
}

/*
.bar{
  width: 6px;
  height: 60px;
  background: white;
  display: inline-block;
  transform-origin: bottom center;
  animation: loading 1.5s ease-in-out infinite;
}
.bar1{
  animation-delay: 0.1s;
}
.bar2{
  animation-delay: 0.2s;
}
.bar3{
  animation-delay: 0.3s;
}
.bar4{
  animation-delay: 0.4s;
}
.bar5{
  animation-delay: 0.5s;
}
.bar6{
  animation-delay: 0.6s;
}
.bar7{
  animation-delay: 0.7s;
}
.bar8{
  animation-delay: 0.8s;
}

@keyframes loading {
  0%{
    transform: scaleY(0.1);
    background: #fff;
  }
  50%{
    transform: scaleY(1);
    background: #2ecc71;
  }
  100%{
    transform: scaleY(0.1);
    background: transparent;
  }
}
.box{
  width: 550px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
*/
